<html ng-app="sharifRsvp">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="core.js"></script>
  </head>
<!-- SET THE CONTROLLER AND GET ALL RSVPS -->
<body ng-controller="mainController">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-right" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="nav-bar-right">
        <ul class="nav navbar-nav navbar-center">
          <li class="active"><a href="/">ABOUT US</a></li>
          <li><a href="/details">DETAILS</a></li>
          <li><a href="/wedding-party">WEDDING PARTY</a></li>
          <li><a href="/rsvp">RSVP</a></li>
        </ul>

      </div>
    </div>
  </nav>
<br/>
    <div class="container">

        <!-- HEADER AND RSVP COUNT -->
        <div class="jumbotron text-center">
            <h1>Current Reservation Count: <span class="label label-info">{{ rsvps.length }}</span></h1>
        </div>

        <!-- RSVP LIST -->
        <div id="rsvp-list">
          <div>
            <table class="table table-hover table-responsive">
              <tr>
                <th> </th>
                <th>name</th>
                <th>guest</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Neither</th>
                <th>#</th>
                <th>notes</th>
              </tr>
              <tr ng-repeat="rsvp in rsvps">
                <td>
                  <span class="glyphicon glyphicon-trash" ng-click="deleteRsvp(rsvp._id)"></span>
                </td>
                <td>{{ rsvp.name }}</td>
                <td>{{ rsvp.guest }}</td>
                <td>{{ rsvp.friday }}</td>
                <td>{{ rsvp.saturday }}</td>
                <td>{{ rsvp.attending }}</td>
                <td>{{ rsvp.number }}</td>
                <td>{{ rsvp.notes }}</td>
              </tr>
            </table>

          </div>
        </div>

        <!-- FORM TO CREATE RSVPS -->
        <div id="rsvp-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Your name here" ng-model="formData.text">
                    </div>

                    <!-- createToDo() WILL CREATE NEW RSVPS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createRsvp()">RSVP</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>
