<html ng-app="sharifRsvp">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <!-- <script src="/assets/js/vendor/angular-1.3.15.js"></script>
    <script src="/assets/js/vendor/angular-route.js"></script>
    <script src="/assets/js/vendor/angular.sanitize.js"></script>
    <script src="/assets/js/vendor/angular.messages.js"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway|Work+Sans" rel="stylesheet">
    <link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/ >
    <script src="core.js"></script>
    <title>Marci & Sajid</title>
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-right" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="nav-bar-right">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/">ABOUT US</a></li>
          <li><a href="/details">DETAILS</a></li>
          <li><a href="/wedding-party">WEDDING PARTY</a></li>
          <li class="active"><a href="/rsvp">RSVP</a></li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="img-header">
    <img class="img-responsive" src="/img/c5.png" alt="">
  </div>

<br/>
<br/>
<br/>
<br/>
    <div class="container" ng-controller="mainController">
      <form name="rsvpForm" novalidate>

        <div class="alert alert-success" ng-show="showSuccessAlert">
          <strong>Done!</strong> {{successTextAlert}}
        </div>

        <div class="form-group row">
          <label for="name" class="col-sm-2 form-control-label">Name*</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Please enter your name here" ng-model="formData.name" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-sm-2 form-control-label">Email*</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Please enter your email address here" ng-model="formData.email" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2">RSVP*</label>
          <div class="col-sm-10">
            <div class="radio active">
              <label class="active">
                <input type="radio" name="attending" id="attending1" ng-model="formData.attending" ng-value="true" checked>
                YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="attending" id="attending2" ng-model="formData.attending" ng-value="false">
                NO
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row" ng-show="formData.attending">
          <label class="col-sm-2">Attending</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="formData.friday" ng-true-value="x" ng-false-value="''">
                Friday
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="formData.saturday" ng-true-value="x" ng-false-value="''">
                Saturday
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row" ng-show="formData.attending">
          <label for="number" class="col-sm-2 form-control-label">Number Attending</label>
          <div class="col-sm-10">
            <input type="number" min="0" max="4" value="0" class="form-control" id="number" ng-model="formData.number">
          </div>
        </div>

        <div class="form-group row" ng-show="formData.attending && formData.number>1">
          <label for="guestname" class="col-sm-2 form-control-label">Guest Name(s)</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="guestname" placeholder="Please enter the name(s) of your guest(s) here" ng-model="formData.guest">
          </div>
        </div>

        <div class="form-group row">
          <label for="notes" class="col-sm-2 form-control-label">Notes</label>
          <div class="col-sm-10">
            <textarea rows="5" class="form-control" id="notes" placeholder="Any words of wisdom you have, please send them along. Also, if you have any dietary restrictions, that would also be good to include." ng-model="formData.notes"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger submit" ng-disabled="rsvpForm.$invalid" ng-click="createRsvp()">RSVP</button>
          </div>
        </div>

      </form>

    </div>
    <br/>
    <br/>
    <br/>

</body>
</html>
