    <div>
      <div class="img-header">
        <img class="img-responsive" src="../img/engagement1.JPG" alt="">
        <h1 class="initials">M&S</h1>
      </div>

      <h1 class="wedding-date">10.29.16</h1>

      <div class="jumbotron details about">
        <div>
          <h1>About Marci</h1>
          <br/><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><br/>
          <h2>
            Marci grew up in Wethersfield, Connecticut.
            She was a local news anchor and reporter for 10 years before ditching
            the newsroom to teach yoga,
            <a href="https://www.amazon.com/Nourishing-Your-Whole-Self-Cookbook/dp/1455620793/" target="_blank">
              write books</a>,
            and
            <a href="http://blog.chron.com/marcistable/" target="_blank">
              blog for the Houston Chronicle</a>
            and other Hearst Publications. She loves cats, fitness, and spirituality.
            <br/><br/>
            Marci has an awesome
            <a href="http://marciizard.com/" target="_blank">
            website</a>
            where she posts short videos with tips to help us feel our best.
            She wants to have five kids who are equally good at math and feelings.
          </h2>
        </div>
      </div>

      <div class="jumbotron details about">
        <div>
          <h1>About Sajid</h1>
          <br/>
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
          <br/>
          <h2>
            Sajid was born in Fort Worth, Texas, but he grew up all over the world
            with stints in Egypt, Malaysia, India, and Bangladesh.
            <br/><br/>
            After graduating from Duke, he went to Harvard Law School and got
            his first job as an associate at a big Houston firm. And he was
            miserable. So after a year, he left the law and took a job as a
            consultant for the Boston Consulting Group in Dallas. This was a
            great fit for Sajid. He loves data, PowerPoint, and travel. But after
            a few years of no sleep and being away from home all the time, he went
            to work for the family business.
            <br/><br/>
            These days, when Sajid isn’t at the office with his family, on a
            business trip to London or Romania, or at the gym (just kidding), he is
            busy fantasizing about his next trip, being a crazy cat dad, or trying to
            talk Marci into having five kids. She’s not budging.
          </h2>
        </div>
      </div>

      <div class="jumbotron">
        <div id="photos" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item imgcontainer active">
              <img src="../img/couple1.jpg">
              <div class="carousel-caption">
                <h2>Santorini, Greece</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple2.jpg">
              <div class="carousel-caption">
                <h2>Budapest, Hungary</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple3.jpg">
              <div class="carousel-caption">
                <h2>Houston, Texas</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple4.jpg">
              <div class="carousel-caption">
                <h2>Houston, Texas</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple5.jpg">
              <div class="carousel-caption">
                <h2>Houston, Texas</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple6.jpg">
              <div class="carousel-caption">
                <h2>Santorini, Greece</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple7.jpg">
              <div class="carousel-caption">
                <h2>Santorini, Greece</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple8.jpg">
              <div class="carousel-caption">
                <h2>Angra Dos Reis, Brazil</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple9.jpg">
              <div class="carousel-caption">
                <h2>Buzios, Brazil</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple10.jpg">
              <div class="carousel-caption">
                <h2>Rio de Janeiro, Brazil</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple11.jpg">
              <div class="carousel-caption">
                <h2>Rio de Janeiro, Brazil</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple12.jpg">
              <div class="carousel-caption">
                <h2>Saas Fee, Switzerland</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple13.jpg">
              <div class="carousel-caption">
                <h2>Rio de Janeiro, Brazil</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple14.jpg">
              <div class="carousel-caption">
                <h2>Florence, Italy</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple15.jpg">
              <div class="carousel-caption">
                <h2>Saas Fee, Switzerland</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple17.jpg">
              <div class="carousel-caption">
                <h2>Paris, France</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple18.jpg">
              <div class="carousel-caption">
                <h2>Paris, France</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple19.jpg">
              <div class="carousel-caption">
                <h2>Park City, Utah</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple20.jpg">
              <div class="carousel-caption">
                <h2>Houston, Texas</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple21.jpg">
              <div class="carousel-caption">
                <h2>New York, New York</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple22.jpg">
              <div class="carousel-caption">
                <h2>Houston, Texas</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple23.jpg">
              <div class="carousel-caption">
                <h2>Paris, France</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple24.jpg">
              <div class="carousel-caption">
                <h2>Paris, France</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple25.jpg">
              <div class="carousel-caption">
                <h2>Paris, France</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple26.jpg">
              <div class="carousel-caption">
                <h2>Vatican City</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple27.jpg">
              <div class="carousel-caption">
                <h2>Chicago, Illinois</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple28.jpg">
              <div class="carousel-caption">
                <h2>Dallas, Texas</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple29.jpg">
              <div class="carousel-caption">
                <h2>Rio de Janeiro, Brazil</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple30.jpg">
              <div class="carousel-caption">
                <h2>Manarola, Italy</h2>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#/#photos" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#/#photos" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>
