    <div>
      <div class="img-header">
        <img class="img-responsive" src="../img/engagement1.JPG" alt="">
        <h1 class="initials">M&S</h1>
      </div>

      <h1 class="wedding-date">10.29.16</h1>

      <div class="jumbotron">
        <h1>Our Story</h1>
        <h2>We met at an amateur production of Beauty and the Beast in 2008. Marci was there with her boyfriend, and Sajid was such a loser he invited his sister as his plus one.
            It took us a while to figure everything out, but 8 years later, we're getting married! Yay! </h2>

      </div>

      <div class="jumbotron">
        <div id="photos" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item imgcontainer active">
              <img src="../img/couple1.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple2.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple3.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple4.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple5.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple6.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple7.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple8.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple9.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple10.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple11.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple12.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple13.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple14.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple15.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple16.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple17.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple18.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple19.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple20.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple21.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple22.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple23.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple24.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple25.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple26.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple27.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple28.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple29.jpg">
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple30.jpg">
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#/#photos" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#/#photos" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>
