    <div>


      <div class="img-header">
        <img class="img-responsive" src="../img/engagement2.JPG" alt="">
        <h1 class="initials">M&S</h1>
      </div>

      <a href="https://www.instagram.com/explore/tags/theresanewsharifintown/" target="_blank">
        <h1 class="wedding-hashtag">#TheresANewSharifInTown</h1>
      </a>
      <div class="jumbotron details sangeet">
        <div>
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <h1>Holud</h1>
        <h2>Friday October 28, 2016<br>6:30PM</h2>
        <h3>Hotel ZaZa</br>
            5701 Main St</br>
            Houston, TX 77005</h3>
        <h3>Bangladeshi event with welcome reception for out of town guests</h3>
        <h3><a target="_blank" href="https://www.google.com/maps/dir//Hotel+ZaZa,+5701+Main+St,+Houston,+TX+77005/@29.6242761,-99.0190835,6z/data=!4m15!1m6!3m5!1s0x0:0xc9121ff8bb2d8d8b!2sHotel+ZaZa!8m2!3d29.7238371!4d-95.3901672!4m7!1m0!1m5!1m1!1s0x8640bf81bf49e44d:0xc9121ff8bb2d8d8b!2m2!1d-95.3902355!2d29.7242601">Directions</a></h3>
        <h3><a target="_blank" href="http://www.utsavfashion.com/wedding">South Asian</a> or Dressy Casual</h3><h4>We recommend pre-stitching and tailoring through the website.</h4>
      </div>
      </div>
      <div class="jumbotron details ceremony">
        <div>
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <h1>Ceremony</h1>
        <h2>Saturday October 29, 2016<br>6:30PM</h2>
        <h3>The Corinthian</br>
          202 Fannin Street</br>
          Houston, TX 77002 </br></h3>
        <h3><a target="_blank" href="https://www.google.com/maps/dir//Corinthian,+202+Fannin+St,+Houston,+TX+77002/@29.7625876,-95.3620341,17z/data=!4m16!1m7!3m6!1s0x8640bf2f701e64b7:0xae2bb09562560a1d!2sCorinthian!3b1!8m2!3d29.7625876!4d-95.3598454!4m7!1m0!1m5!1m1!1s0x8640bf2f701e64b7:0xae2bb09562560a1d!2m2!1d-95.3598454!2d29.7625876">Directions</a></h3>
        </div>
      </div>
      <div class="jumbotron details reception">
        <div>
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <h1>Reception</h1>
        <h2>Immediately Following the Ceremony</h2>
        <h3>The Corinthian</br>
            202 Fannin Street</br>
            Houston, TX 77002 </br></h3>
        <h3>Black Tie Optional</h3>
        </div>
      </div>
      <div class="jumbotron details accommodation">
        <div>
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <h1>Accommodation</h1>
        <h3>Hotel Icon</br>
            220 Main Street</br>
            Houston, TX 77002 </br>
            <!-- </h3> -->
        <!-- <h3><span class="from">from</span> $159/night</br> -->
            (832) 667 - 4468</h3>
        <h3>Click <a target="_blank" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Izard/Sharif%20Wedding%20Block%5Ehouak%60izaizaa%7Cizaizac%7Cizaizad%7Cizaizaf%7Cizaizag%7Cizaizah%7Cizaizai%60159.00-799%60USD%60false%603%6010/28/16%6010/30/16%609/29/16&app=resvlink&stop_mobi=yes">here</a> to book within the Izard/Sharif block</h3>
        </div>
      </div>

    </div>
