<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-right" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="nav-bar-right" ng-controller="HeaderController">
      <ul class="nav navbar-nav navbar-center">
        <li ng-class="{ active: isActive('/')}"><a href="/">ABOUT US</a></li>
        <li ng-class="{ active: isActive('/details')}"><a href="/details">DETAILS</a></li>
        <li ng-class="{ active: isActive('/wedding-party')}"><a href="/wedding-party">WEDDING PARTY</a></li>
        <li ng-class="{ active: isActive('/rsvp')}"><a href="/rsvp">RSVP</a></li>
      </ul>

    </div>
  </div>
</nav>
