<div ng-app="sharifRsvp">

  <div class="img-header">
    <img class="img-responsive" src="../img/engagement3.JPG" alt="">
    <h1 class="initials">M&S</h1>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <div>
    <div class="container" ng-controller="mainController">
      <form name="rsvpForm" novalidate>

        <div class="alert alert-success" ng-show="showSuccessAlert">
          <strong>Done!</strong> {{successTextAlert}}
        </div>

        <div class="form-group row">
          <label for="name" class="col-sm-2 form-control-label">Name*</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Please enter your name here" ng-model="formData.name" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-sm-2 form-control-label">Email*</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Please enter your email address here" ng-model="formData.email" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2">RSVP*</label>
          <div class="col-sm-10">
            <div class="radio active">
              <label class="active">
                <input type="radio" name="attending" id="attending1" ng-model="formData.attending" ng-value="true" required>
                YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="attending" id="attending2" ng-model="formData.attending" ng-value="false">
                NO
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row" ng-show="formData.attending">
          <label class="col-sm-2">Attending</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="formData.friday" ng-true-value="x" ng-false-value="''">
                Friday
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="formData.saturday" ng-true-value="x" ng-false-value="''">
                Saturday
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row" ng-show="formData.attending">
          <label for="number" class="col-sm-2 form-control-label">Number Attending*</label>
          <div class="col-sm-10">
            <input type="number" min="1" max="4" value="0" class="form-control" id="number" ng-model="formData.number" ng-required="formData.attending">
          </div>
        </div>

        <div class="form-group row" ng-show="formData.attending && formData.number>1">
          <label for="guestname" class="col-sm-2 form-control-label">Guest Name(s)</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="guestname" placeholder="Please enter the name(s) of your guest(s) here" ng-model="formData.guest">
          </div>
        </div>

        <div class="form-group row" ng-show="formData.attending">
          <label class="col-sm-2">Dietary Restrictions</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="formData.veg" ng-true-value="x" ng-false-value="''">
                Vegetarian
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="formData.halal" ng-true-value="x" ng-false-value="''">
                Halal
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="notes" class="col-sm-2 form-control-label">Notes</label>
          <div class="col-sm-10">
            <textarea rows="5" class="form-control" id="notes" placeholder="Any words of wisdom you have, please send them along." ng-model="formData.notes"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger submit" ng-disabled="rsvpForm.$invalid" ng-click="createRsvp()">RSVP</button>
          </div>
        </div>

      </form>

    </div>
  </div>
  <br/>
  <br/>
  <br/>
</div>
