<div ng-app="sharifRsvp" ng-controller="mainController">
  <div class="img-header">
    <img class="img-responsive" src="../img/engagement5.JPG" alt="we're so adorable">
    <h1 class="initials">M&S</h1>
  </div>

  <div class="jumbotron row">

    <div class="party-people">
      <div ng-repeat="person in partyPeople">
        <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" ng-style="{ 'background-image': 'url(../img/'+ person.image+')' }" >
          <h1>{{person.name}}</h1>
          <h2>{{person.role}}</h2>
        </div>
      </div>
    </div>

  </div>

</div>
