<div>
  <div class="img-header">
    <img class="img-responsive" src="/img/c1.jpg" alt="we're so adorable">
  </div>

  <div class="jumbotron row">
    <div class="party-people">
      <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" style="background-image: url('../img/blair.jpg');">
        <h1>Blair</h1>
        <h2>Maid of Honor</h2>
      </div>
      <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" style="background-image: url('../img/tony.jpg');">
        <h1>Tony</h1></br>
        <h2>Best Man</h2>
      </div>
      <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" style="background-image: url('../img/christopher.jpg');">
        <h1>Chris</h1></br>
        <h2>Groomsman</h2>
      </div>
      <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" style="background-image: url('../img/taylor.jpg');">
        <h1>Taylor</h1></br>
        <h2>Bridesmaid</h2>
      </div>
      <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" style="background-image: url('../img/chelsea.jpg');">
        <h1>Chelsea</h1></br>
        <h2>Bridesmaid</h2>
      </div>
      <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" style="background-image: url('../img/carl.jpg');">
        <h1>Carl</h1></br>
        <h2>Groomsman</h2>
      </div>
      <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" style="background-image: url('../img/sara.jpg');">
        <h1>Sara</h1></br>
        <h2>Bridesmaid</h2>
      </div>
      <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" style="background-image: url('../img/guy.jpg');">
        <h1>Guy</h1></br>
        <h2>Groomsman</h2>
      </div>
      <div class="thumbnail party-person col-lg-3 col-md-3 col-xs-6" style="background-image: url('../img/christian.jpg');">
        <h1>Chris</h1></br>
        <h2>Groomsman</h2>
      </div>
    </div>
  </div>

</div>
